.order-wizard-paymentmethod-selector-module {
	@extend .box-column;

	.creditcard-edit-form {
	  clear: both;
	}
	.creditcard-edit-form-securitycode {
		padding: 0;
	}
}

.order-wizard-paymentmethod-selector-module-header {
	margin-bottom: $sc-margin-lv3;
}

.order-wizard-paymentmethod-selector-module-header-nav {
	margin-bottom: $sc-margin-lv4;
	position:relative;
}

// .order-wizard-paymentmethod-selector-module-button-group {}

.order-wizard-paymentmethod-selector-module-button {
	@extend .button-medium;
	@extend .button-secondary;
}

// .order-wizard-paymentmethod-selector-module-button.selected {}
