.tt-cms-about-us {
  @extend .container;
  h1 {
    margin-top: $sc-margin-lv8;
    margin-bottom: $sc-margin-lv8;
  }
  h2 {
    margin-top: $sc-margin-lv8;
    margin-bottom: $sc-margin-lv3;
  }
  h3 {
    margin-bottom: $sc-margin-lv3;
    @media (min-width: $screen-sm-min) {
      margin-top: $sc-margin-lv5;
    }
  }
  p {
    line-height: 22px;
    margin-bottom: $sc-margin-lv8;
    @media (max-width: $screen-xs-max) {
      line-height: 20px;
      font-size: $sc-font-size-s;
    }
  }
}
.tt-cms-about-us-top-content {
  p {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
    @media (max-width: $screen-xs-max) {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
    }
  }
}