//////////////////////////////////////////////////

// SPLASH PAGE.
div[class*="sec_LoginRegister"],
.layout[class*="sec_LoginRegister"] {
	background-image: url('https://dev-hyperionpartnersportal.tavanoapps.com/Hyperion-Images/Splash-Page/Hyperion-Splash-Page-Background.jpeg'),
										url('/Hyperion-Images/Splash-Page/Hyperion-Splash-Page-Background.jpeg');
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}

div[class*="sec_LoginRegister"] #main-container,
.layout[class*="sec_LoginRegister"] #main-container { margin: 0; }

div[class*="sec_LoginRegister"] .footer-simplified-content.footer-content-bottom,
.layout[class*="sec_LoginRegister"] .footer-simplified-content.footer-content-bottom {
	background: transparent;
  border-color: rgba(255, 255, 255, .15);
}

.login-register-wrapper-login {
	p:not([data-validation-error="block"]),
	h2,
	label,
	small { color: $hyperion-accent-color-1; }
}

//////////////////////////////////////////////////

.login-register-register-required { color: $sc-color-copy; }

.login-register-register-form-description {
	margin-top: $sc-margin-lv4;
	margin-bottom: $sc-margin-lv4;
}

.login-register-register-form-controls-group { margin-top: $sc-margin-lv4; }

.login-register-register-form-required { @extend .input-required; }

.login-register-register-form-input { @extend .input-large; }

.login-register-register-form-submit {
	@extend .button-large;
	@extend .button-primary;
}

.login-register-register-form-messages {
	margin-top: $sc-margin-lv4;

	.global-views-message-error {
		@extend .message-error;
		margin-bottom: 0;
	}

	.global-views-message-button { display: none; }
}

div[class*="sec_LoginRegister"],
.layout[class*="sec_LoginRegister"] {
	#main-container,
	div[id*="LoginRegister.View"],
	.login-register,
	.login-register-body-colored {
		@media (min-width: $screen-sm-min) { min-height: 550px !important; }
	}
}

.login-register-body-colored {
	background: none !important;

	@media (min-width: $screen-sm-min) { position: relative; }

}

.login-register-wrapper-column-login {
	@media (min-width: $screen-sm-min) {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}

// REQUIRED '*'.
div[class*="sec_LoginRegister"],
.layout[class*="sec_LoginRegister"] {
	.login-register-login-form-required { color: $hyperion-accent-color-2; }
}

.login-register-wrapper-login { margin: 0; }
