.print-statement-button-back{
	@extend .button-back;
}

.print-statement-back-icon{
	@extend .button-back-icon;
}

.print-statement{
	@extend .box-column;
	padding: 0;
	margin-left: 0;
	margin-right: 0;
}

.print-statement-title {
	padding-top: $sc-padding-lv3;
	@media (min-width: $screen-sm-min) {
		border-top: 1px solid $sc-color-theme-border-light;
	}
}

.print-statement-form{
	margin-top: $sc-margin-lv4;
}



.print-statement-form-group-input{
	@extend .input-large;
	min-height: 44px;
}

.print-statement-form-label {
	color: $sc-color-copy;
}

.print-statement-form-label-required{
	@extend .input-required;
}

.print-statement-form-controls {
	position: relative;
}

.print-statement-form-checkbox-label{
	margin-bottom: $sc-margin-lv2;
	display: block;
}

.print-statement-form-actions-print{
	@extend .button-primary;
	@extend .button-medium;
}

.print-statement-form-actions-email{
	@extend .button-secondary;
	@extend .button-medium;
	@extend .button-positioning-stack2next;
}

.print-statement-form-input-icon {
	@extend .fa;
	@extend %fa-calendar;

	display: none;
	color: $sc-color-copy-dark;
	pointer-events: none;
	// cursor: pointer;

  	@media (min-width: $screen-md-min) {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 275px;
		line-height: 44px;
	}
}

.print-statement-form-group-label-optional {
	@extend .input-optional;
	display: inline;
}




