.global-views-rating-by-star {
    @extend .clearfix;
    display: inline-block;
    width: 100%;
    clear: both;
    padding: 0;
    margin-bottom: $sc-margin-lv3;

    @media (min-width: $screen-sm-min){
        display: block;
    }
}
.global-views-rating-by-star-label,
.global-views-rating-by-star-second-label {
    @media (max-width: $screen-sm-max){
        font-size: $sc-font-size-xs;
    }
}
.global-views-rating-by-star-label {
    @extend .col-xs-3;
    text-align: right;
    padding-left: 0;
    padding-right: $sc-padding-lv2;
    color:$sc-color-copy-dark;

    @media (min-width: $screen-sm-min) {
        padding: 0 $sc-padding-lv3;
    }
}
.global-views-rating-by-star-second-label {
    @extend .col-xs-3;
    text-align: left;
    padding-right: 0;
    padding-left: $sc-padding-lv2;
    color:$sc-color-copy-dark;

    @media (min-width: $screen-sm-min){
        padding: 0 $sc-padding-lv3;
    }
}
.global-views-rating-by-star-percentage-area {
    @extend .col-xs-6;
    padding:0;

    @media (min-width: $screen-sm-min){
        padding: 0 $sc-padding-lv3;
    }
}
.global-views-rating-by-star-percentage-area-progress-bar {
    @extend .progress;
    border-radius:0px;
    background-color: $sc-color-star-empty;
    margin-bottom: 0;
}
.global-views-rating-by-star-percentage-area-progress-bar-filled {
    @extend .progress-bar;
    background-color: $sc-color-star-filled;
}
.global-views-rating-by-star-label-percentage {
    color: $sc-color-secondary;
    width: 35px;
    display: none;

    @media (min-width: $screen-sm-min){
        display: inline-block;
    }
}


