.product-details-image-gallery {
	position: relative;

	.bx-wrapper img {
		margin: auto;
		display: inline-block; // block;
	}
}

.product-details-image-gallery-container {
	display: inline-block;
	height: 250px;
	line-height: 250px;
	text-align: center;

	@media (min-width: $screen-sm-min) {
		height: 400px;
		line-height: 400px;
	}

	@media (min-width: $screen-lg-min) {
		height: 555px;
		line-height: 555px;
	}

	img {
		max-height: 100%;
		max-width: 100%;
		width: auto;
		height: auto;
		margin: auto;
		vertical-align: middle;
		// position: absolute;
		// top: 0;
		// left: 0;
		// right: 0;
	}
}

.product-details-image-gallery .social-sharing-flyout-content-social-pinterest {
	display: none;
}

.product-details-image-gallery:hover .social-sharing-flyout-content-social-pinterest {
	@media (min-width: $screen-md-min) {
		display: block;
	}
}

.product-details-image-gallery-detailed-image {
	height: 250px;
	line-height: 250px;
	text-align: center;

	@media (min-width: $screen-sm-min) {
		height: 400px;
		line-height: 400px;
	}

	@media (min-width: $screen-lg-min) {
		height: 555px;
		line-height: 555px;
	}

	img {
		max-height: 100%;
		max-width: 100%;
		width: auto;
		height: auto;
		margin: auto;
		vertical-align: middle;
		// position: absolute;
		// top: 0;
		// left: 0;
		// right: 0;
	}

	.zoomImg {
		background-color: white;
	}
}

.product-details-image-gallery-prev-icon, .product-details-image-gallery-next-icon{
	position: absolute;
	top: 40%;
	width: $sc-target-size-mobile;
	height: $sc-target-size-mobile;
	line-height: $sc-target-size-mobile;
	font-size: 30px;
	color: #000000;
	text-align: center;
	@extend .fa;

	&:hover,
	&:focus,
	&:active {
		color: #000000;
	}
}
.product-details-image-gallery-prev-icon:focus, .product-details-image-gallery-next-icon:focus {
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(75, 75, 75, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(75, 75, 75, 0.6);
}

.product-details-image-gallery-prev-icon{
	left: 0;
	@extend %fa-chevron-left;
}

.product-details-image-gallery-next-icon{
	right: 0;
	@extend %fa-chevron-right;
}